nav {
  color:#99FF99;
}

body {
  background-color: #003300;
  font-family: Arial,sans-Serif;
  text-align: center;
  color: #99FF99;
}

*{
  padding:0;
  margin:0;
}


#title {
  color: #99FF99;
  text-align: center;
  font-family: Arial,sans-Serif;
}

#game {
  width:500px;
  height:100px;
}

#character {
  color:#99FF99;
  position:relative;
  
  top: 160px;
  text-align: center;
  animation:appear 2s infinite;
}

.animate {
  animation:jump 2s;
}

#block {
  width: 20px;
  height: 50px;
  background-color: #99FF99;
  position: relative;
  top: 130px;
  left: 480px;
  animation:block 4s;
}

@keyframes appear {
  0%{color:#003300;}
  95%{color:#99FF99;}
  100%{color:#003300;}
}

@keyframes block {
  0%{left:480px;}
  35%{left:-40px;}
  50%{left:480px;}
  85%{left:-40px;}
  100%{left:480px;}
}



